main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

section {
  display: flex;
  width: 80%;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-variant: small-caps;
}